body {
    background: black;
    color: #e4e4e4;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    height: 100dvh;
    padding: 0px;  
    background-image: url('../fon.jpg');
    background-size: cover;
}


#contenedor {
    
    background: #232323;
    width: 95dvw;
    height: 90dvh;
    border: solid 3px #454545;
    border-radius: 15px;
    padding: 50px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    word-wrap: break-word;
    max-width: 99dvw;
    max-height: 80dvh;
    
}

h1 {
    color: #8c8c8c;
    text-shadow: 2px 2px 2px black;
}

#sal {
    background: #8c8c8c;
    color: white ;
    text-shadow: 2px 2px 2px black;
    height: 5dvh;
    width: 20dvh;
    outline: none;
    border: solid 1px #64646d;
    border-radius: 10px;
    
}
