body {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    height: 100dvh;
    padding: 0px;
    
}



#tabla {
    background: grey;
    max-width: 99dvw;
    width: 350px;
    max-height: 99dvh;
    height: 350px;
    border: solid 5px #505050;
    border-radius: 10px ;
    box-shadow: inset 0px 0px 15px black;
    padding: 0px;
    display: grid;
    align-items: center;
    align-self: center;
    justify-self: center;
    z-index: 2;
  
    
}

.ht {
    width: 70%;
    height: 80%;
    background: #424242;
    box-shadow: 3px 3px 6px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center ;
    transition: 1s;
    transition-timing-function: linear;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#tapon {
    
    position: fixed;
    z-index: 100; /* acordate de poner todo boton por encima de esto🔥🔥🔥🔥*/
    width: 99dvw;
    height: 99dvh;
    
}

/*botones e interfaz*/

/*nota: podria ser que porque el tapon es fixed y los botones absolute no funcionen los botones, pero solo es suposicion por si en el futuro no funcionan.*/


#contu {
    background: #2b6dff;
    color: white;
}

#puntosU1,#puntosU2 {
    color: white;
}

#concon{
    
    width: 94dvw;
    max-width: 94dvw;
    display: flex;
    flex-direction: row;
    z-index: 2;
    position: absolute;
    left: 3dvw;
    bottom: 2px;
    font-size: 12px;
   
   
   
    
}



.conP{
    
    
    padding: 0px;
    background: grey;
    color: #2e2e2e;
    display: flex;
    flex-direction: column;
    text-shadow: 1px 1px 0px black;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 5dvh;
    
    
}

#conanun {
    
    z-index: 120;
    background: #525252;
    color: white;
    text-shadow: 2px 2px 2px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90dvw;
    height: 80dvh;
    border: solid 5px #454545;
    border-radius: 15px;
    text-align-last: center;
    position: absolute;
    
    
}

#gj {
    
    font-size: 30px;
    font-weight: bold;
    color: #e3ff00;
    
    
}


#reini {
    background: #454545;
    width: 30dvw;
    height: 15%;
    border: solid 5px #95ffb7 ;
    justify-self: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#salir {
    background: #454545;
    width: 30dvw;
    height: 15%;
    border: solid 5px #ff8a80 ;
    justify-self: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
