body {
    background: #100029;
    height: 98vh;
    width: 96vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}


#d{
    width: 95vw;
    height: 35vh;
    border: solid 2px #342fbb ;
    background: no-repeat;
    outline: none;
   color: #95b7ff ;
   text-shadow: 2px 4px 5px #404899;
    font-size: 40px;
    text-align: right;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #404899;
    max-width: 400px;
}


#c_b{
    
    width: 99vw;
    height: 99vw;
    max-width: 400px;
    max-height: 400px;
    
    display: grid;
    grid-template: repeat(4,1fr) / repeat(4,1fr);
    grid-template-areas: 
    
    "b0 b1 b2 b3"
    "b4 b5 b6 b7"
    "b8 b9 b10 b11"
    "b12 b13 b14 b15"
    
    ;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    
}

.b{
    width: 22vw;
    height: 22vw;
    max-width: 90px;
    max-height: 90px;
    
    background: #2d2788;
    box-shadow: 4px 5px 5px #020205;
    color: #95b7ff ;
    font-size: 40px ;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 5px 5px #0b0a28;
    user-select: none;
}

/* esquinas */

#e1 {
    
    border-top-left-radius: 20px;
    
}

#e2 {
    
    border-top-right-radius: 20px;
    
    
}


#e3 {
    
    border-bottom-left-radius: 20px;
    background: #394088;
}


#e4 {
    
    border-bottom-right-radius: 20px;
    
}

#e_s1{ 
    border-radius: 20px 0px 0px 20px;
}

#e_s2{ 
    border-radius: 0px 20px 20px 0px;
}


/* botones con caracteres no numericos */



.car {
    
    background: #2d7288 ;
    
}



/* barra superior */


#b_s{
    
    width: 99vw;
    height: 90px;
    max-width: 400px;
    max-height: 90px;
    
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.4%;
    margin: 5px 0px 5px 0px;
    transform: translateX(-0.5px);
    
    
}


.b_b_s{
    
    width: 22vw;
    height: 22vw;
    max-width: 90px;
    max-height: 90px;
    background: #394088 ;
    color: #95b7ff;
    font-size: 40px ;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 5px 5px #0b0a28;
    user-select: none;
    
}




/* informacion */


#info{
    
    position: fixed;
    left: 5vw;
    top: 3vh;
    color: #5d9cba;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: solid 2px #5d9cba;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    
    
}


#cti {
    
    
    position: fixed;
    left:14vw;
    top: 3vh;
    color: #5d9cba;
    width: 10vw;
    height: 5vw;
    border-radius: 0% 23% 23% 23%;
    border: solid 2px #5d9cba;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    
    
}